@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: all .2s ease;
    font-family: 'Inter', sans-serif;
    outline: none;
}

:root {
    --box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #F0F0F0;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: var(--box-shadow);
    background-color: #fff;
    z-index: 1000;
}

.container {
    padding: 20px 7%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__nav {
    padding: 10px 7%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header__figure {
    height: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    width: max-content;
}

.header__figure p {
    font-weight: 300;
    font-size: 20px;
}

.header__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__link {
    display: block;
    width: 100px;
    text-align: center;
    top: 0;
    left: 0;
    padding: 5px 7px;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    position: relative;
}

.header__link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.home {
    background-image: url('https://cdn.discordapp.com/attachments/1129195909796860029/1166934414702428251/background.jpg?ex=654c4b5d&is=6539d65d&hm=8d818cbef597751ed098d301f40a122d69ab5f6131535d634befd922ecac65f8&');
    background-position: center;
    background-position-y: -150px;
    background-repeat: no-repeat;
}

.home__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    height: 500px;
}

.home__texts {
    width: 450px;
    align-self: flex-start;
    padding-top: 90px;
}

.home__section-title span {
    background-color: #f78e25;
    padding: 2px 10px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
}

.home__section-title {
    color: #f78e25;
    padding: 2px 0;
    border-radius: 20px;
    margin-bottom: 40px;
    background-image: linear-gradient(to right,#00000011, #00000000);
}

.home__title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 22px;
}

.home__copy {
    line-height: 1.7;
    color: #505050;
    margin-bottom: 25px;
}

.home__inputs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    width: max-content;
    padding: 3px 4px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.home__inputs input, .home__inputs select {
    padding: 8px 5px;
    font-family: 'Inter', sans-serif;
    border: none;
    height: 35px;
}

.home__inputs select {
    color: #222;
    font-weight: 800;
    border-left: none;
    margin-right: 15px;
}

.home__inputs .btn-search {
    background-color: #50B83F;
    font-size: 14px;
    color: #fff;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 3px;
}

.home__inputs .btn-search:hover {
    background-color: #57ca46;
}

.home__texts p span {
    font-weight: bolder;
}

.home__texts p {
    font-size: 14px;
    color: #222;
}

.products__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 30px;
}

.products__aside {
    display: flex;
    height: 350px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
}

.bolt {
    color: #f7c625;
    margin-bottom: 15px;
}

.flash-sale {
    background-color: #d3e9ce;
    padding: 20px;
    width: 250px;
    border-radius: 5px;
}

.flash-sale h3 {
    margin-bottom: 10px;
}

.flash-sale p {
    line-height: 1.5;
    margin-bottom: 35px;
    font-size: 14px;
}

.flash-sale > p:last-of-type {
    margin-bottom: 5px;
}

.time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.time p {
    font-size: 13px;
    padding: 2px 10px;
    background-color: #4A4F55;
    color: #fff;
    margin-bottom: 0;
    border-radius: 10px;
}

.btn-see {
    align-self: flex-start;
    width: 100%;
}

.btn-see a {
    display: block;
    background-color: #50B83F;
    color: #fff;
    width: 100%;
    font-size: 13px;
    padding: 12px;
    border-radius: 5px;
    position: relative;
}

.btn-see a:hover {
    background-color: #57ca46;
}

.btn-see a i {
    font-size: 13px;
    position: absolute;
    right: 12px;
    top: calc(50% - 6.5px);
}

.slide__figure {
    width: 100%;
    padding: 0px 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide__figure img {
    display: block;
    width: 130px;
    height: 110px;
    object-fit: cover;
}

.products__container {
    position: relative;
}

.products-swiper {
    height: 350px;
}

.slide__content {
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin-bottom: 15px;
}

.slide__content h3 {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.slide__content .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.slide__content .price p {
    font-size: 14px;
    color: #551A9A;
}

.slide__content .price p span:first-of-type {
    font-size: 8px;
    position: relative;
    top: -5px;
}

.slide__content .price p span:last-of-type {
    font-size: 8px;
    position: relative;
    top: -5px;
}

.slide__content .price p + p {
    background-color: #F1CCC4;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 5px;
    color: #e93d3d;
    font-weight: bold;
}

.slide__content .buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.slide__content .buy a {
    display: inline-block;
    padding: 10px 35px;
    width: 130px;
    text-align: center;
    font-size: 13px;
    color: #393a63;
    background-color: #F0EFF6;
    border-radius: 5px;
}

.slide__content .buy a:hover {
    background-color: #393a63;
    color: #fff;
}

.slide__content .buy i {
    font-size: 12px;
    color: #393a63;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}

.slide__content .buy i:hover {
    background-color: #393a63;
    color: #fff;
    cursor: pointer;
}

.bar::before {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 223px;
    height: 4px;
    border-radius: 4px;
    background-color: #00000022;
}

.bar {
    background-color: #f7c625;
    height: 4px;
    width: 70%;
    border-radius: 4px;
    margin-bottom: 3px;
}

.tags {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.swiper-button-next {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 65px;
    top: calc(50% - 25px);
    background-color: #fff;
}

div.swiper-button-next:active {
    background-color: #f2f2f2;
}

.swiper-button-next::after {
    font-size: 15px !important;
    font-weight: bolder;
    color: #000;
}

/* MEDIA QUERYS */

@media screen and (min-width: 1200px) {
    .container, .header__nav {
        padding-left: 84px;
        padding-right: 84px;
    }    
}

@media screen and (max-width: 1107px) {
    div.swiper-button-next {
        right: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .home__section-title{
        font-size: 14px;
    }

    .home__title {
        font-size: 35px;
        width: 400px;
    }

    .home__copy {
        font-size: 12px !important;
    }

    .home__texts {
        width: 400px;
    }

    .home__texts p {
        font-size: 12px;
    }
}

@media screen and (max-width: 900px) {
    div.swiper-button-next {
        right: 35px;
    }
}

@media screen and (max-width: 850px) {
    .home {
        background-size: 1200px;
    }

    .home__texts {
        padding-top: 40px;
    }

    .home__container {
        height: 400px;
    }

    .home__section-title{
        font-size: 12px;
        margin-bottom: 15px;
    }

    .home__title {
        font-size: 30px;
        width: 300px;
        margin-bottom: 10px;
    }

    .home__copy {
        font-size: 11px !important;
        width: 350px;
    }

    .home__texts p {
        font-size: 11px;
    }
}

@media screen and (max-width: 700px) {
    div.swiper-button-next {
        right: 20px;
    }
}

@media screen and (max-width: 563px) {
    .products__container {
        flex-direction: column;
    }

    .products-swiper {
        width: 100%;
    }

    .products__aside {
        width: 100%;
        height: max-content;
    }

    .flash-sale {
        width: 100%;
    }

    div.swiper-button-next {
        right: 5px;
        top: 535px;
    }
}

@media screen and (max-width: 438px) {
    .home {
        background-size: 1100px;
    }

    .home__container {
        height: 350px;
    }

    .home__texts {
        width: 100%;
    }

    .home__section-title, .home__copy, .home__texts p {
        width: 100%;
    }

    .home__title {
        width: 80%;
    }

    .home__inputs {
        width: 100%;
        justify-content: flex-end;
    }

    .home__inputs input:first-of-type {
        width: 50%;
    }
}

@media screen and (max-width: 407px) {
    .home__title {
        width: 90%;
    }
}

@media screen and (max-width: 362px) {
    .home__title {
        width: 100%;
    }

    .home__inputs input, select {
        font-size: 10px;
    }
}

@media screen and (max-width: 351px) {
    div.swiper-button-next {
        right: 5px;
        top: 560px;
    }
}

@media screen and (max-width: 326px) {
    .home {
        background-size: 1050px;
    }

    .home__container {
        height: auto;
    }

    .home__title {
        font-size: 25px;
    }

    .home__inputs select {
        margin-right: 5px;
    }
}